.faq {
    padding-top: 82px;
    padding-bottom: 82px;

    @include respond-to(320) {
        padding-top: 16px;
        padding-bottom: 30px;
    }

    &__list {
        margin-top: 48px;

        @include respond-to(320) {
            margin-top: 16px;
        }
    }

    &__list-item{
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__item {
        font-size: 20px;
        line-height: 1.25;
        color: #fff;
        font-size: 20px;
        padding: 14px 24px;

        &--button{
            font-weight: 600;
            background-color: transparent;
            border-radius: 12px;
            text-align: left;
        }

        &--text{
            opacity: 0.6;
        }

        @include respond-to(320) {
            font-size: 14px;
            padding: 12px;
        }
    }

    &__button{
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;

        background-color: #232B3E;
    }

    &__arrow{
        margin-left: auto;
    }

    &__text{
        display: none;

        &.active {
			display: block;
		}
    }    
}