.get-money {
  padding-top: 82px;
  padding-bottom: 82px;
  

  @include respond-to(320) {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
  }

  &__text {
    max-width: 520px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.25;
    color: #fff;
    margin-top: 48px;

    @include respond-to(320) {
      margin-top: 14px;
      font-size: 18px;
    }
  }

  &__list {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.25;

    @include respond-to(320) {
      font-size: 14px;
      margin-top: 16px;
    }
  }

  &__image {
    width: 540px;

    @include respond-to(320) {
      width: 256px;
    }
  }
}