.send-money {
  padding-top: 105px;
  padding-bottom: 105px;

  @include respond-to(320) {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column-reverse;
  }

  &__text {
    max-width: 450px;
  }

  &__list {
    margin-top: 48px;

    @include respond-to(320) {
      margin-top: 18px;
    }

    &::before {
      content: "";
      height: calc(100% - 10px);
      border: 1px dashed #fff;
      position: absolute;
      left: 20px;
      top: 5px;
      z-index: 1;
    }
  }

  &__list-item {
    align-items: center;
  }

  &__image {
    width: 540px;

    @include respond-to(320) {
      width: 280px;
    }
  }
}