.wrapper {
    border: none;
  
    &__send-money,
    &__get-money,
    &__features,
    &__faq,
    &__transfer,
    &__about {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  
    &__footer {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  
    &__footer {
      @include respond-to(320) {
        border: none;
      }
    }
  }