@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Open Sans";
  
    font-display: swap;
    src:
      url("../fonts/opensans700.woff2") format("woff2"),
      url("../fonts/opensans700.woff") format("woff");
  }
  
  @font-face {
      font-family: 'SF UI';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('../fonts/sfui700.woff2') format('woff2'),
      url('../fonts/sfui700.woff') format('woff');
  }
  
  @font-face {
      font-family: 'SF UI';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('../fonts/sfui600.woff2') format('woff2'),
      url('../fonts/sfui600.woff') format('woff');
  }
  
  @font-face {
      font-family: 'SF UI';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('../fonts/sfui400.woff2') format('woff2'),
      url('../fonts/sfui400.woff') format('woff');
  }
  