.logo{
    display: block;

    &__item{
        max-width: 78px;
        width: 100%;
        height: 42px;

        @include respond-to(320) {
            max-width: 52px;
            width: 100%;
            height: 30px;
        }
    }


}