.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;

    @include respond-to(320) {
        border: none;
    }

    &.active{
        display: block;
    }

    &__button-close {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-left: 12px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    

        &:hover,
        &:focus {
            path {
                stroke: #3ecbc0;
            }
        }

        @include respond-to(320) {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #fff;
        }
    }

    &__button-img {
        path {
            stroke: #111;

            @include respond-to(320) {
                stroke: rgba(0, 0, 0, 0.4);
            }
        }
    }

}