.language {
  position: relative;

  max-width: 90px;
  width: 100%;

  padding-bottom: 12px;
  margin-top: 12px;

  cursor: pointer;

  &::before {
    position: absolute;
    top: 14px;
    right: 20px;
    z-index: 1;

    content: "";
    width: 16px;
    height: 16px;

    background-image: url("../images/icons/icon-arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include respond-to(320) {
      top: 14px;
      right: 11px;

      width: 14px;
      height: 14px;
    }
  }

  @include respond-to(320) {
    max-width: 63px;
    margin-left: auto;
    margin-right: 18px;
  }

  &__list {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(12px);

    display: none;

    background-color: #fff;

    border-radius: 8px;
  }

  &__item {
    opacity: 0.4;
    position: relative;

    &--active {
      opacity: 1;
    }

    &--top {
      opacity: 1;
      background: #1a2133;
      border-radius: 8px;
    }


    &--kz {
      &::before {
        content: "";
        width: 24px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;

        position: absolute;
        left: 10px;
        top: 10px;
        background-image: url("../images/icons/kz.svg");
      }
    }

    &--ru {
      &::before {
        content: "";
        width: 24px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;

        position: absolute;
        left: 10px;
        top: 10px;
        background-image: url("../images/icons/ru.svg");
      }
    }

    &--en {
      &::before {
        content: "";
        width: 24px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;

        position: absolute;
        left: 10px;
        top: 10px;
        background-image: url("../images/icons/en.svg");
      }
    }

    &--uz {
      &::before {
        content: "";
        width: 24px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;

        position: absolute;
        left: 10px;
        top: 10px;
        background-image: url("../images/icons/uz.svg");
      }
    }

    &:hover,
    &:focus {
      opacity: 1;
    }


  }

  &__item-link {
    font-size: 16px;
    line-height: 1.25;
    color: #111;
    display: block;
    width: 100%;

    &--top {
      padding: 14px 16px;
      color: #fff;

      @include respond-to(320) {
        font-size: 14px;
        
        padding: 12px 14px;
      }
    }

    &--bottom{
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 42px;
      padding-right: 42px;
    }
  }

  &:hover,
  &:focus {
    &::before {
      transform: rotate(180deg);
    }

    .language__list {
      display: block;
    }
  }
}
